---
layout: layouts/home.njk
eleventyNavigation:
  key: 首頁
  order: 1
---
<br>
<h1>到校服務、家長講座、校內教學、外出活動、機構合辦課程</h1>
<br>
<h2>香港、九龍、新界各區幼稚園、小學、中學、私人團體合作辦學</h2>
<table>
<tbody>
<tr>
<td>
<p><strong>1. 學術與思維類： </strong>&nbsp;</p>
<p>- # 高效中文識字班</p>
<p>- # 高效非華語生學中文</p>
<p>- # 高效讀寫障礙訓練營</p>
<p>- # 高效英文識字班</p>
<p>- # 高效英文劍橋班</p>
<p>- # 高效閱讀理解班</p>
<p>- # 高效創意寫作班</p>
<p>- # 高效拼音會話班</p>
<p>- # 高效數學啟蒙班</p>
<p>- # 高效數學專科班</p>
<p>- # 新來港適應班(粵英、文化、社區等)</p>
<p>- 奧數班</p>
<p>- 珠心算班</p>
</td>
<td>
<p><strong>2. 藝術與創意類</strong></p>
<p>- 「墨香書韻」書法班</p>
<p>- 「童聲飛揚」合唱團</p>
<p>- 「妙筆生輝」馬賽克班</p>
<p>- 「陶藝小工匠」手作班</p>
<p>- # 「減壓專注」黏土班</p>
<p>- # 「彩筆魔法師」繪畫班</p>
<p>- # 「扭扭擰擰」扭汽球班</p>
<p>- # 「神筆畫」和諧粉彩班</p>
<p>- 「創意無限」蝶古巴特班</p>
<p>- 「題材出眾」話劇表演班</p>
<p>- 「我是小導演」動畫製作班</p>
<p>- 「舞動精靈」芭蕾/中國舞班&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p><strong>3. 體育與運動類</strong></p>
<p>- 「綠茵小將」足球班</p>
<p>- 「泳往直前」游泳班&nbsp;&nbsp;</p>
<p>- 「跳躍吧！」體操班</p>
<p>- 「籃球小巨星」訓練營</p>
<p>- 「習武小英雄」武術班&nbsp;&nbsp;</p>
<p>- 「功夫世界」跆拳道班</p>
<p>- 「瑜伽小達人」身心平衡班</p>
<p>&nbsp;</p>
</td>
<td>
<p><strong>4. 領袖與社交類 </strong>&nbsp;</p>
<p>- # 「專注力提升」訓練班</p>
<p>- # 「社交小達人」訓練班</p>
<p>- # 「EQ情商」情緒管理班</p>
<p>- # 「升級隊長」升學銜接班</p>
<p>- # 「小領袖有自信」訓練班</p>
<p>- # 「我做到」自理能力訓練班</p>
<p>- 「良好的行為我堅持」訓練班</p>
</td>
</tr>
<tr>
<td>
<p><strong>5. 語言與文化類</strong></p>
<p>- # 「圍棋小諸葛」策略班&nbsp;</p>
<p>- 「日本語の冒險」日文班&nbsp;</p>
<p>- 「韓流小粉絲」韓文體驗班&nbsp;</p>
<p>- # 「普通話遊樂園」會話班</p>
<p>- # 「節慶文化之旅」傳統手藝班</p>
<p>&nbsp;</p>
</td>
<td>
<p><strong>6. 生活技能與趣味類</strong>&nbsp;</p>
<p>- 「魔幻時刻」魔術班</p>
<p>- 「綠手指園丁」種植班&nbsp;&nbsp;&nbsp;</p>
<p>- #「攝影小記者」基礎班&nbsp;</p>
<p>- #「小廚神大作戰」烹飪班</p>
<p>- #「小小理財家」金錢管理班</p>
</td>
</tr>
</tbody>
</table>
<p>#為熱門及流行課程</p>
<table>
<tbody>
<tr>
<td>
<ol start="7">
<li><strong>各式家長講座內容</strong>(例子參考)</li>
</ol>
<p>&nbsp;</p>
<p>-「親子溝通技巧」講座</p>
<p>-「小升初銜接準備」專題講座</p>
<p>-「培養孩子閱讀習慣」家長工作坊</p>
<p>-「網絡安全與數位素養」家長講座</p>
<p>-「孩子的營養與健康生活」專題講座</p>
<p>-「孩子的情緒管理與心理健康」講座</p>
<p>-「STEAM教育與未來競爭力」家長講座</p>
<p>-「高效學習方法與時間管理」家長指南</p>
<p>-「預防校園欺凌與社交技巧」家長講座</p>
<p>-「如何幫助孩子克服學習困難」分享會</p>
<p>-「正向教養：建立自信與責任感」工作坊</p>
<p>-「多元智能發展與興趣培養」家長分享會</p>
<p>-「家校合作：如何與老師有效溝通」講座</p>
<p>-「特殊教育需求（SEN）孩子的支持策略」工作坊</p>
</td>
<td>
<ol start="8">
<li><strong>外出活動</strong>(可依教學目標或季節調整活動內容)</li>
</ol>
<p>-博物館參觀</p>
<p>-動物園遊覽</p>
<p>-植物園探索</p>
<p>-科技館體驗</p>
<p>-圖書館閱讀活動</p>
<p>-歷史古蹟巡禮</p>
<p>-農場採摘體驗</p>
<p>-公園生態觀察</p>
<p>-天文台觀星</p>
<p>-消防局參訪</p>
<p>-警察局見學</p>
<p>-郵局工作體驗</p>
<p>-超市購物學習</p>
<p>-海灘淨灘活動</p>
<p>-登山健行</p>
<p>-露營活動</p>
<p>-戲劇或音樂會欣賞</p>
<p>-美術館參觀</p>
<p>-DIY手作工坊</p>
<p>-運動會或體育競賽</p>
<p>-校際交流活動</p>
<p>-社區服務（如敬老院探訪）</p>
<p>-科學實驗營</p>
<p>-節慶文化體驗（如元宵燈會）</p>
<p>-地質公園考察</p>
</td>
</tr>
</tbody>
</table>
<table>
  <tbody>
  <tr>
    <td><p><img src="/photos/2025-09-24-post/photo_1.jpg" alt=""></p></td>
    <td><p><img src="/photos/2025-09-24-post/photo_2.jpg" alt=""></p></td>
    <td><p><img src="/photos/2025-09-24-post/photo_3.jpg" alt=""></p></td>
  </tr>
  <tr>
    <td><p><img src="/photos/2025-09-24-post/photo_4.jpg" alt=""></p></td>
    <td><p><img src="/photos/2025-09-24-post/photo_5.jpg" alt=""></p></td>
    <td><p><img src="/photos/2025-09-24-post/photo_6.jpg" alt=""></p></td>
  </tr>
  <tr>
    <td><p><img src="/photos/2025-09-24-post/photo_7.jpg" alt=""></p></td>
    <td><p><img src="/photos/2025-09-24-post/photo_8.jpg" alt=""></p></td>
    <td><p><img src="/photos/2025-09-24-post/photo_9.jpg" alt=""></p></td>
  </tr>
  <tr>
    <td><p><img src="/photos/2025-09-24-post/photo_10.jpg" alt=""></p></td>
    <td><p><img src="/photos/2025-09-24-post/photo_11.jpg" alt=""></p></td>
    <td><p></p></td>
  </tr>
  <tbody>
</table>
{% include "carousel.njk" %}
{% include "buttons.njk" %}
{% set maxPosts = collections.posts.length | min(3) %}
<h1>最新 {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} 篇文章{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>所有文章分享在 <a href="{{ '/posts/' | url }}">資源</a>.</p>
